@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*{
	margin: 0;
	padding: 0;
}

@font-face{
	font-family: opensans;
	src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face{
	font-family: opensans-regular;
	src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face{
	font-family: opensans-semibold;
	src: url(../fonts/OpenSans-Semibold.ttf);
}

body{
	background-image: url(../images/bg.jpg);
	font-family: Helvetica;
	color: white;
}
.fix{
	position: fixed;
	right: 0;
	top: 0;
	height: 50px;
	display: block;
	width: 100%;
	z-index: 10;
}


p span{
	font-family: opensans-regular;
}

h3{
	font-family: opensans-semibold;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.stat{
	margin-top: 50px;
	overflow: auto;
	z-index: 5;
}
menu{
	background: #B12525;
	text-align: right;
	display: block;
	height: 50px;
	opacity: 1;
}
menu ul{
	list-style: none;
	display: inline-block;
	height: 100%;
}
menu li{
	display: inline-block;
	padding-right: 10px;
	color: #f39c12;
}
menu li a{
	font-size: 2em;
	font-family: opensans;
	color: white;
	transition-property: all;
	transition-duration: 0.5s;
	transition-limiting-function: ease-out;
	transition-delay: initial;	
	text-decoration: none;		
	color: #f1c40f;		
	padding: 4px 4px 5px 4px;
}
menu li a:hover:not(.active){
	background-color: white;
	text-decoration: none;
	font-style: bold;
	border-radius: 5px;
}
menu li a.active{
	text-decoration: none;
	color: white; 
	border-radius: 5px;
}
.icon{
	position: absolute;
	top: 5;
	left: 15;
}
.fonting{
	font-size: 2em;
	color: #f1c40f;
}
.butt{
	width: 100px;
	height: 100px;
}
.menuButton{
	padding-top: 30px;
}
.line{
	list-style: none;
	padding-top: 50px;	
	text-align: left;
}
.line1{
	list-style: none;
	padding-top: 50px;
	text-align: right;
}
ul{
	list-style: none;
}
li{
	padding-bottom: 15px;
}
.oneSize{
	width: 100%;
	height: 450px;
}
.size{
	width: 50px;
	height: 50px;
}
.sized{
	width: 550px;
	height: 500px;
	border-radius: 20px;
	align-self: center;
}
.lineHr{
	size: 5px;
	color: red!important;
	width: 100%;
}
.padd{
	padding-bottom: 50px;
}
.newClass{
	margin-top: 40px;
	background-color: white;
	color: black;
}
#menu1, #menu2{
	display: none;
}
.circled{
	width: 50px;
	height: 50px;
	border-radius: 10px;
}
.footHeading{
	font-family: 'Aclonica';
	font-size: 1.25em;
	color: black;
}
.colored{
	background-color: #B12525;
	color: black;
}
#map{
	width: 450px;
	height: 300px;
}
.padded{
	padding-top: 20px;
	border-right: 1px solid white;
}